/* Global Styles */
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  background-color: white !important;
}

#logo {
  border-radius: 4px;
  width: 130px;
  height: 130px;
}

.navlinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  height: 20px;
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.social-icons img:hover {
  opacity: 0.5;
}

/* Overview Section */
.overview {
  text-align: center;
  padding: 100px;
}

.text-center li {
  display: block;
  text-align: left;
  padding: 17px;
}

h1 {
  padding-left: 47px;
  padding-bottom: 10px;
}

.my-custom-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.title-name {
  margin: 20px;
  letter-spacing: 5px;
  font-size: 30px;
}

.title-name-link {
  text-decoration: none;
  color: black;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.title-name-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.title-name-link:hover::after {
  opacity: 0.5;
}

.title-name-link:hover {
  opacity: 0.5;
}

.professionalopp,
.somethingextra {
  text-decoration: none;
  color: #222222;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.professionalopp::after,
.somethingextra::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0.1px;
  background-color: currentColor;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.professionalopp::after:hover,
.somethingextra::after:hover {
  opacity: 0.5;
}

.professionalopp:hover,
.somethingextra:hover {
  opacity: 0.5;
}

/* Banner Sections */
.banner {
  height: 300px;
  background-image: url("ResumePhotos/pexels-rahul-919700.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 400px;
  padding-bottom: 400px;
}

.banner2 {
  height: 300px;
  background-image: url("ResumePhotos/pexels-valeriia-miller-3599566.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
  
}

.banner-title,
.banner-title2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 40px;
  padding-bottom: 20px;
}

.futuremaker,
.resume-banner {
  text-decoration: none;
  color: whitesmoke;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.futuremaker::after,
.resume-banner::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  color: whitesmoke;
}

.futuremaker::after:hover,
.resume-banner::after:hover {
  opacity: 0.5;
}

.futuremaker:hover,
.resume-banner:hover {
  opacity: 0.5;
}

/* Contact Form */
.contact-form-container {
  padding: 100px;
  padding-top: 0;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.name-container label {
  margin-right: 10px;
}

.name-input,
#email,
#subject,
#message {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.description-required {
  font-size: 12px;
  color: grey;
}

.btn.btn-outline-primary.btn-custom {
  color: rgb(83, 83, 83);
  border-color: rgb(83, 83, 83);
  background-color: white;
  font-style: italic;
  font-size: 15px;
}

.btn.btn-outline-primary.btn-custom:hover {
  background-color: rgb(83, 83, 83);
  color: white;
}

.divider {
  border: none;
  height: 1px;
  background-color: grey;
  margin: 20px 0;
  display: block;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: grey;
}

.resume-link-footer {
  text-decoration: none;
  color: grey;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  font-style: italic;
}

.resume-link-footer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  color: grey;
}

.resume-link-footer::after:hover,
.resume-link-footer::after:hover {
  opacity: 0.5;
}

.resume-link-footer:hover,
.resume-link-footer:hover {
  opacity: 0.5;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.seamless-image {
  display: block;
  width: 100%;
  height: auto;
  border: 6px solid #222222;
}

/* Media Queries */
@media (max-width: 768px) {
  .overview {
    padding: 50px;
  }

  .title-name {
    font-size: 24px;
  }

  .banner,
  .banner2 {
    padding: 50px;
  }

  .futuremaker,
  .resume-banner {
    font-size: 24px;
  }

  .form-container {
    padding: 50px;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    width: 100%;
    justify-content: center;
  }

  strong {
    padding-left: 100px;
  }

  .somethingextra::after {
    display: none;
  }
  .title-name-link::after {
    display: none;
  }
}